 body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #000000;
        }

        header {
            background-color: #dbf4f5;
            border-bottom: 1px solid #887f82;
            padding: 15px;
            text-align: center;
        }

        h1 {
            margin: 0;
            font-size: 48px;
            color: #2f3b99;
        }

        .subtitle {
            text-align: center;
            font-size: 18px;
            margin: 15px;
        }

        .container {
            display: flex;
            max-width: 1400px;
            margin: auto;
        }

        .sidebar {
            width: 220px;
            background-color: #f8f9fa;
            border-right: 1px solid #a2a9b1;
            padding: 20px;
        }

        .sidebar h2 {
            margin-top: 0;
        }
    
        .sidebar a {
            display: block;
            color: #2f3b99;
            text-decoration: none;
            margin: 10px 0;
            transition: 0.3s;
        }
        .sidebar a:hover {
            text-decoration: underline;
        }
        .nawi-buttons {
             display: flex;
            flex-direction: column;
            gap: 10px;
    }

    .nawi-buttons button {
        padding: 10px;
        background-color: #2f3b99;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 14px;
        transition: 0.3s;
    }

    .nawi-buttons button:hover {
        font-weight: bold;
        background-color: #4454d6;
        transform: scale(1.05);
    }

    .nawi-buttons button:active {
        transform: scale(0.98);
    }
        .content {
            flex: auto;
            padding: 25px;
            background-color: #ffffff;
        }

        .article-title {
            font-size: 40px;
            border-bottom: 2px solid #a2a9b1;
            padding-bottom: 10px;
        }

        .infobox {
            float: right;
            width: 280px;
            margin: 0 0 20px 20px;
            border: 1px solid #a2a9b1;
            background-color: #f8f9fa;
            font-size: 14px;
        }

        .infobox th {
            background-color: #dbf4f5;
            padding: 8px;
            font-size: 20px;
            text-align: center;
        }

        .infobox td {
            padding: 8px;
            border-top: 1px solid #ddd;
        }

        .seal-image {
            width: 100%;
            display: block;
        }

        .spis-tresci {
            border: 1px solid #a2a9b1;
            background-color: #f8f9fa;
            padding: 15px;
            width: 200px;
            margin-bottom: 20px;
        }

        .spis-tresci h3 {
            margin-top: 0;
        }

        h2 {
            border-bottom: 1px solid #a2a9b1;
            padding-bottom: 5px;
            margin-top: 40px;
        }

        footer {
            text-align: center;
            padding: 20px;
            background-color: #f8f9fa;
            border-top: 1px solid #a2a9b1;
            margin-top: 30px;
        }

        .seal-image {
            width: 100%;
            display: block;
        }

        .logo-link {
            text-decoration: none;
    }

        .logo-link h1 {
            cursor: pointer;
            font-style: none;
    }

        div.gallery {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    div.gallery-item {
        margin: 5px;
        border: 1px solid #ccc;
        width: 180px;
    }

    div.gallery-item:hover {
        border: 1.5px solid #4454d6;
        transform: scale(1.05);
        transition: transform 0.2s ease;
    }

    div.gallery-item img {
        width: 100%;
        height: auto;
    }

    div.gallery-item div.desc {
        padding: 15px;
        text-align: center;
    }